
*{
margin: 0;
padding: 0;

}
.navbar
{
    display: flex;
    align-items: center;
    position: relative;
    
}

.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.logo
{
 margin: 8px 8px;
}
.logo img
{
    height: 3.3rem;
 margin: 5px 5px;

}
.navbar ul
{
    display: flex;

    
}
.navbar ul li 
{
    list-style: none;
    font-size: 1.5rem;
}
.navbar ul li a
{
    display: block;
    color: white; 
    text-decoration: none;
    padding:3px 22px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a:hover
{
    color: black;
    background-color: white;
}
